<?xml version="1.0" encoding="UTF-8"?>
<Configuration level="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{[ %-12d{HH:mm:ss.SSS} ]}{BLUE} %highlight{&lt;%-5level&gt;}{FATAL=bg_red black, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=blue} %style{(%25c{1.})}{CYAN}  %highlight{%m%n}{FATAL=red, ERROR=red, WARN=normal, INFO=normal, DEBUG=normal, TRACE=normal}"
                    disableAnsi="false"/>
        </Console>
        <File name="LogFile" fileName="mastermind.log" immediateFlush="false" append="false">
            <PatternLayout pattern="[ %-23d{dd-MM-yyyy HH:mm:ss.SSS} ] &lt;%-5level&gt; (%30c)  %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>